/.idea/
docker/database/data/*
docker/rabbitmq/data/*
docker/redis/data/*
ecosystem/application/backend/vendor/*
ecosystem/application/backend/public/build/
ecosystem/application/backend/var/*
ecosystem/application/client/.angular/*
ecosystem/application/client/node_modules/
ecosystem/application/log/*

ecosystem/cms/backend/vendor/*
ecosystem/cms/backend/public/build/
ecosystem/cms/backend/public/media/
ecosystem/cms/backend/var/*
ecosystem/cms/client/.angular/*
ecosystem/cms/client/node_modules/
ecosystem/cms/log/*
